body {
  font-family: 'Rokkitt', serif;
}

section {
  display: flex;
  flex-wrap: wrap;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 66%;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin-bottom: 0px;
}


.welcome {
   background-color: #4CAF50;
   width: 66%;
}

.card {
   width: 33%;
}

li:nth-of-type(5n+0) {
    background-color: #448AFF;
}

li:nth-child(4n+0) {
    background-color: #FF5722;
}

li:nth-child(6n+0) {
    background-color: #448AFF;
}

#profile {
  background-color: #448AFF;
}

li:nth-child(2n+3) {
    background-color: #FFC107;
}

aside {
  display: flex;
  width: 20%
}
