body {
  font-family: 'Rokkitt', serif;
}

section {
  display: flex;
  flex-wrap: wrap;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 66%;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
   background-color: green;
   width: 66%;
}

.card {
   width: 33%;
}

li:nth-of-type(5n+0) {
    background-color: red;
}

li:nth-child(3n+0) {
    background-color: blue;
}

li:nth-child(2n+0) {
    background-color: coral;
}

li:nth-child(7n+0) {
    background-color: green;
}

aside {
  display: flex;
  width: 20%
}
