body {
  font-family: 'Rokkitt', serif;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 66%;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.welcome {
   background-color: green;
   width: 66%;
}

.card {
   width: 33%;
}

li:nth-child(2) {
    background-color: red;
}
